<style>
.detalleContainer{
max-width: 600px;
  margin: 20px auto; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #6323ca;
  text-align: center;
}
.detalleContainer h1 {
font-size: 1.8em;
  color: #b5c901;
  margin-bottom: 10px;
}

.detalleContainer p {
  font-size: 0.6em;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 20px;
}

.detalleContainer img {
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto; /* Mantiene la relación de aspecto */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.artwork img {
  width: 80px; /* Tamaño de la miniatura */
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.screenshots {
  width: 800;
  height: 600;
  display: block;
}

</style>

    <!-- Detalles principales -->
<div class="detalleContainer" *ngIf="gameDetails">
    <h1>{{ gameDetails.name }}</h1>
    <img *ngIf="gameDetails.cover" [src]="gameDetails.cover.url" alt="{{ gameDetails.name }}" />
    <p>{{ gameDetails.summary }}</p> <hr>

  <!-- Plataformas, muestra MUY poca variedad por limitaciones de la API. Espera arreglo y funcionamiento con JSON Server -->
  <div *ngIf="gameDetails.platforms">
    <strong>Plataformas:</strong>
    <span *ngFor="let platform of gameDetails.platforms; let last = last">
      {{ platform.name }} ({{ platform.abbreviation }})
      <!---
        Esta es la imagen del logo pero queda TAN feo
        <img *ngIf="platform.platform_logo" [src]="platform.platform_logo.url" alt="{{platform.name}}" />--->
      <span *ngIf="!last">, </span>
    </span>
  </div>

    <hr>

    <!-- No funciona, pendiente de arreglo -->
  <div *ngIf="gameDetails.release_dates">
    <strong>Fecha de Lanzamiento Inicial:</strong>
      {{gameDetails.release_dates[0].human }}    
  </div>
<hr>

         <!-- Funciona, espera ampliarse con JSON Server -->
    <strong>Género:</strong>
    <span *ngFor="let genre of gameDetails.genres; let last = last">
      {{ genre.name }}<span *ngIf="!last">, </span>
    </span>

    <hr>

 <!-- Calificacion de metacritic del juego, el number le quita todos los numeros para que esté sin decimal -->
 <div *ngIf="gameDetails.rating">
    <strong>Rating:</strong> {{ gameDetails.rating | number:'1.0-0' }}
  </div>
    <hr>

  <div *ngIf="gameDetails.screenshots">
      <span *ngFor="let screenshots of gameDetails.screenshots; let last = last">
        <img class="screenshots" *ngIf="screenshots" [src]="'//images.igdb.com/igdb/image/upload/t_screenshot_big/' + screenshots.image_id + '.jpg'" alt="{{ gameDetails.name }}" />
      </span>
  </div>
  <hr>
</div>

