<style>
.detalleContainer{
  display: flex;
  gap: 20px; /* Espacio entre la portada y el contenido */
  padding: 20px;
  background-color: #3c0073; /* Color de fondo */
  border-radius: 10px;
  max-width: 1200px; /* Ancho máximo para widescreen */
  margin: 0 auto; /* Centra el contenedor */
}

.cover-container{
  display: flex;
  border-right: 2px solid #fff; 
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}

.coverimagen{
  width: 200%;
  border: 2px solid #ffffff; 
  max-width: 765px;
  height: auto;
  max-height: 900px; 
  border-radius: 8px;
  display: table-cell; 
  vertical-align: middle ;
}

.content-container{
  flex:1;
  color:#fff;
  text-align: center;
}

.detalleContainer h1 {
font-size: 1.8em;
  color: #e6ff04;
  margin-bottom: 10px;
}

.detalleContainer p {
  font-size: 0.7em;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 20px;
}

.detalleContainer img {
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto; 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.botonesNextBack{
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
}

.metacriticScore{
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.rating-max{
  background-color: #2d702f
}

.rating-good{
  background-color: #51cb55
}

.rating-mid{
  background-color: #edfe00;
  color: black;
}


.rating-bad{
  background-color: #fe6600;
  color: black;
}

.rating-dead{
  background-color: #fe0000;
}

.rating-unknown {
  background-color: #cccccc; /* Color para cuando no hay rating */
  color: #000000;
}

  .iconoyoutube {
margin:auto;
margin-top: 5px;
margin-bottom: 5px;
}

.division{
  border: 1px solid white;
  margin: 10px 0;
}

button {
  background-color: #e6e6e6; /* Puedes ajustar el color si quieres */
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}




</style>

<div class="detalleContainer" *ngIf="gameDetails">
  <div class="cover-container">
    <img class="coverimagen" *ngIf="gameDetails.cover" [src]="'//images.igdb.com/igdb/image/upload/t_cover_big/' + gameDetails.cover.image_id + '.jpg'" alt="{{ gameDetails.name }}" />
  </div>

    <div class="content-container">
      <h1>{{ gameDetails.name }}</h1>
      <p>{{ gameDetails.summary }}</p>
      <hr>
      <div *ngIf="gameDetails.platforms">
        <strong>Plataformas:</strong>
        <span *ngFor="let platform of gameDetails.platforms; let last = last">
          {{ platform.name }} ({{ platform.abbreviation }})
          <span *ngIf="!last">, </span>
        </span>
      </div>
      <hr>

      <div *ngIf="gameDetails.release_dates">
        <strong>Fecha de Lanzamiento Inicial:</strong>
          {{gameDetails.release_dates[0].human }}    
      </div>
      <hr>
    
        <strong>Género:</strong>
        <span *ngFor="let genre of gameDetails.genres; let last = last">
          {{ genre.name }}<span *ngIf="!last">, </span>
        </span>
        <hr>

        <strong>Desarrolladores</strong>
        <span *ngFor="let compania of gameDetails.involved_companies; let last = last">
            {{ compania.company.name }}<span *ngIf="!last">, </span>     
        </span>
        <hr>
    
     <!-- Calificacion de metacritic del juego, el number le quita todos los numeros para que esté sin decimal -->
     <div *ngIf="gameDetails.rating; else noRating" [ngClass]="['metacriticScore', colorRating(gameDetails.rating)]">
      <strong>Metascore: </strong>{{ gameDetails.rating | number:'1.0-0' || 'Sin rating' }}
    </div>
    <hr>

    <div *ngIf="gameDetails.videos">
      <a [href]="urlVideoYoutube + gameDetails.videos[0].video_id" target="_blank" rel="noopener noreferrer">
        <img class="iconoyoutube" src="assets/images/iconoyt.png" alt="Icono de Ejemplo" />
      </a>
    </div>


    <hr>
    <hr>
      <div *ngIf="gameDetails.screenshots">
            <img *ngIf="gameDetails.screenshots" [src]="'//images.igdb.com/igdb/image/upload/t_screenshot_big/' + gameDetails.screenshots[indiceImagenActual].image_id + '.jpg'" alt="{{ gameDetails.name }}" />
      </div>
      <hr>
      <div>
      <button class="botonesNextBack" (click)="anteriorImagen(gameDetails.screenshots)">⬅️</button>
      <button class="botonesNextBack" (click)="siguienteImagen(gameDetails.screenshots)">➡️</button>
    </div>
    <hr class="division">
    <div>
        <button (click)="saveGame()">Guardar juego</button>        
    </div>
    
</div>

<ng-template #noRating>
  <div class="metacriticScore rating-unknown">Sin rating</div>
</ng-template>
