
<style>
    /* Estilo del header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1b1b2f;
  color: white;
}

.header .logo h1 {
  margin-left: 10px;
}

.header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.header nav a img {
  height: 20px;
  vertical-align: middle;
}

/* Imagen principal */
.hero-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* Texto de bienvenida */
.welcome-text {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

/* Footer */
.footer {
  text-align: center;
  padding: 10px 20px;
  background-color: #1b1b2f;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.chiquito {
    font-size: 15px;
}

* {
  transition: all 0.5s ease-in-out;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

</style>
 
  
  <div class="hero-image" [ngClass]="{'fade-in': fondourl}">
    <img [src]="fondourl" alt="Hero Image" />
  </div>
  
  
  <section class="welcome-text" [ngClass]="{'fade-in': fondourl}" >
    <h2>¡Bienvenido a GameDex!</h2>
    <p style="color: yellow;">Tu biblioteca de videojuegos preferída.</p>
    <p>Explorá, navegá, y gestioná tus juegos favoritos como te plazca.</p>
    <p class="chiquito">¡Inicia sesión para más funciones!</p>
  </section>
  
  
