<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<style>
  body {
  margin: 0; /* Quita márgenes */
  padding: 0; /* Quita padding */
  font-family: Arial, sans-serif; /* Establece la fuente */
}
</style>
<body>
  <div class="flex flex-col min-h-screen">
    <app-header></app-header>
    <nav>
      <ul>    
        <li>
          <a routerLink="buscarJuegos" routerLinkActive="active" ariaCurrentWhenActive="page">Buscar Juegos</a>
        </li>    
        <li>
          <a routerLink="newReleases" routerLinkActive="active" ariaCurrentWhenActive="page">Mostrar juegos populares</a>
        </li> 
        <li>
          <a routerLink="juegosGuardados" routerLinkActive="active" ariaCurrentWhenActive="page">Lista de MIS juegos!</a>
        </li> 
      </ul>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>



</body>
</html>


