<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<style>
  body {
  margin: 0; /* Quita márgenes */
  padding: 0; /* Quita padding */
  font-family: Arial, sans-serif; /* Establece la fuente */
}
.footer {
  text-align: center;
  padding: 10px 20px;
  background-color: #1b1b2f;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.chiquito {
    font-size: 15px;
}

</style>

<app-header></app-header>

<router-outlet></router-outlet>

<footer class="footer">
  <p style="chiquito">© 2024 GameDex - Trabajo Practico Final de Laboratorio IV</p>
  <p style="chiquito">Rodrigo Moreno, Alan Lugo, Alejandro Bostiancic</p>
</footer>
</html>


